.newest_version,
.newest_version_min {
    background-color: blue;
    display: grid;
    justify-items: center;
    width: 200px;
    height: 100px;
    color: #fff;
    text-decoration-style: none;
}
.newest_version h1,
.newest_version_min h1 {
    color: #fff;
    text-decoration-style: none;
    margin: 0;
    font-size: 2em;
}
.newest_version_link {
    margin-right: 1px;
}
.newest_version_min_link {
    margin-left: 1px;
}
.main_version {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.newest_version_min_link,
.newest_version_link {
    background-color: blue;
    display: grid;
    justify-items: center;
    width: 200px;
    height: 100px;
    color: #fff;
    text-decoration-style: none;
    border: 1px solid #000;
}